.details__container {
  display: flex;
  flex-direction: column;
  margin-inline: 20%;
  gap: 20px;
}

.details__text_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.details__text {
  font-weight: var(--font-weight-medium);
  font-size: 1.2rem;
}

.details__img {
  width: 300px;
  height: auto;
  align-self: center;
}

.details__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.details__description_container {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 786px) and (min-width: 375px) {
  .details__description_container {
    flex-direction: column;
    align-items: center;
  }
}